<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>お問い合わせ詳細</title>
</head>

<body>
    <h1>お問い合わせ詳細</h1>
    <div th:if="${contact}">
        <p>お問い合わせID: <span th:text="${contact.id}"></span></p>
        <p>姓: <span th:text="${contact.lastName}"></span></p>
        <p>名: <span th:text="${contact.firstName}"></span></p>
        <p>メールアドレス: <span th:text="${contact.email}"></span></p>
        <p>電話番号: <span th:text="${contact.phone}"></span></p>
        <p>郵便番号: <span th:text="${contact.zipCode}"></span></p>
        <p>住所: <span th:text="${contact.address}"></span></p>
        <p>建物名: <span th:text="${contact.buildingName}"></span></p>
        <p>お問い合わせ種別: <span th:text="${contact.contactType}"></span></p>
        <p>内容: <span th:text="${contact.body}"></span></p>
		<p>更新日時: <span th:text="${#temporals.format(contact.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
		<p>作成日時: <span th:text="${#temporals.format(contact.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
    </div>
    <a th:href="@{/admin/contacts/{id}/edit(id=${contact.id})}">編集する</a>
    <a th:href="@{/admin/contacts}">一覧へ戻る</a>
	<form th:action="@{/admin/logout}" method="get">
		<input type="submit" value="ログアウト">
	</form>
</body>

</html>
